* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    background-color: #bee4b5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    max-width: 800px;
    min-height: 90%;
    padding: 0 20px 10px 20px;
    background-color: #195809;   
    border-radius: 10px;
    box-shadow: 1px 1px rgba(0, 76, 6, .7);
    font-family: sans-serif;
    color: #9bb49a;
}

header {
    position: relative;
    top: 0;
    margin: 0 -20px;
    padding: 20px;
    background-color: #36bd2a;
    border-bottom: 2px solid #013f0e;
    border-radius: 5px 5px 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: rgb(226, 250, 215);
    text-align: center;
}

.search-box, .add-box, .todos-box {
    margin-top: 10px;
    padding: 20px 10px;
    background-color: #359131;
    border-radius: 5px;
    font-size: 1rem;
}

.todos-box {
    height: 266px;
}

.todos {
    height: 226px;
    background-color: rgb(212, 235, 212);
    overflow-y: scroll;
    border: 1px solid rgb(253, 253, 253);
    border-radius: 5px;
    
    /*Para o Firefox*/
    scrollbar-width: thin;
    scrollbar-color: #26921c #071106;  
}

/*Para os browsers Chrome, Edge e Safari*/
.todos::-webkit-scrollbar { 
    width: 15px;
}

.todos::-webkit-scrollbar-track {
    background: rgba(91, 148, 104, 0.5);
    border-radius: 0 4px 4px 0;
}
  
.todos::-webkit-scrollbar-thumb {
    background-color: #26921c;
    border-radius: 0 5px 5px 0;
    border: 2px solid rgb(142, 189, 153);
}

.todo {
    height: 2rem;
    background-color: rgb(212, 235, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dashed #000;
    line-height: 2rem;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.todo > .text-todo {
    color: #000;
    font-weight: 900;
}

.text-todo {
    padding: 0 10px;
}

.delete {
    padding: 0 20px;
    cursor: pointer;
}
.delete:hover {
    color: #ff4800;
}

.delete:active {
    position: relative;
    top: 2px;
}

label {
    display: block;
    margin-bottom: 5px ;
    font-size: .875rem;
    font-weight: bold;
}

.search-input, .add-input {
    width: 100%;
    padding: 0 5px;
    background-color: #121218;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 2rem;
    color: #b1b3b0;
}

.hide {
    display: none;
}